body {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 100vh;
  width: 100%;
  background: url('https://cdn.openart.ai/stable_diffusion/5408bd89f3c69b52f2654db84ed16dba4b8ebf00_2000x2000.webp');
  background-size: cover;
  color: #ffffff;
  text-shadow: #f0eaa2 1px 0 10px;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 3em;
}

button.response-btn {
  font-size: 20px;
  color: #ffffff;
  background-color: #5dbe75;
  margin: 15px 0;
  padding: 20px 30px;
  border: none;
  border-radius: 10px;
}

input {
  font-size: 18px;
  text-align: center;
  padding: 10px 20px;
  margin: 13px 0 50px 0;

}

p {
  font-size: 22px;
}

#display {
  font-size: 30px;
  margin: 0 100px;
}